# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env

# VS Code settings
.vscode/

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd
*.pyc

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# streamlit files
.streamlit/
*.toml